nav {
  background-color: #000046;
  box-shadow: 1px 1px 5px 0px rgb(194, 177, 177);
  border: 1px solid rgb(194, 177, 177);
  display: flex;
  padding: 1em 5em;
  justify-content: space-between;
  position: sticky;
  top: 0;
  animation: nav;
  animation-timeline: view();
}
nav img {
  width: 75px;
}
nav ul {
  display: flex;
  gap: 64px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
nav li {
  list-style: none;
}
nav li:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .container {
  display: flex;
  padding: 5em 5em;
}
main .container h1 {
  font-size: 4em;
  color: #000046;
}
main .container img {
  width: 650px;
}
main .container .text-header p {
  font-size: 2em;
  padding-left: 3em;
}
main .container .btn {
  width: 100px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 16px;
  color: #000046;
  margin-left: 1em;
  border: 1px solid black;
}

nav {
  background-color: #000046;
  box-shadow: 1px 1px 5px 0px rgb(194, 177, 177);
  border: 1px solid rgb(194, 177, 177);
  display: flex;
  padding: 1em 5em;
  justify-content: space-between;
  position: sticky;
  top: 0;
  animation: nav;
  animation-timeline: view();
}
nav img {
  width: 75px;
}
nav ul {
  display: flex;
  gap: 64px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
nav li {
  list-style: none;
}
nav li:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.shop-section {
  display: grid;
  height: 230vh;
  padding: 2em 5em;
  gap: 24px;
}
.shop-section .search-container {
  border-radius: 8px;
  padding-left: 1em;
  height: 40px;
  box-shadow: 1px 1px 5px 0px rgb(129, 127, 127);
  border: none;
}
.shop-section select {
  padding: 2em;
  border: none;
}
.shop-section h1 {
  font-size: 4em;
  color: #000046;
}
.shop-section .cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.shop-section .cards .card {
  box-shadow: 1px 1px 10px 0px rgb(194, 177, 177);
  border-radius: 8px;
  width: 250px;
  height: 500px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.shop-section .cards .card .infor {
  padding: 1em;
}
.shop-section .cards .card img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
}
.shop-section .cards .card img:hover {
  transition: 1s;
  transform: scale(0.7);
}
.shop-section .cards .card .price {
  display: flex;
}
.shop-section .cards .card .price h2 {
  font-size: 1.5em;
}
.shop-section .cards .card .add {
  background-color: orange;
  padding: 0.5em;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}
.shop-section .cards .card .add:hover {
  transform: translateY(-1em);
  transition: 0.5s;
}
.shop-section .cards .card .buy:hover {
  transform: translateY(-1em);
  transition: 0.5s;
}
.shop-section .cards .card .buy {
  background-color: white;
  padding: 0.5em;
  border: none;
  color: #000046;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid orange;
}
.shop-section .cards .checked {
  color: orange;
}

.about-section {
  height: 130vh;
  padding: 2em 5em;
  display: grid;
  gap: 2em;
}
.about-section h1 {
  font-size: 3em;
}
.about-section p {
  font-size: 1.5em;
}
.about-section q {
  font-size: 1.5em;
}
.about-section .mission, .about-section .value {
  display: flex;
  justify-content: space-between;
}
.about-section .mission img, .about-section .value img {
  width: 400px;
  height: 400px;
}

body {
  padding: 0;
  margin: 0;
  height: 500vh;
}