@import '../variable';
.about-section{
    height: 130vh;
    padding: 2em 5em;
    display: grid;
    gap: 2em;
    h1{
        font-size: 3em;
    }
    p{
        font-size: 1.5em;
    }
    q{
        font-size: 1.5em;
    }
    .mission, .value{
        box-shadow: 0px 0px 7px 0px rgb(192, 173, 173);
        border-radius: 16px;
        padding: 2em;
        display: flex;
        justify-content: space-between;
        img{
            width: 350px;
            height: 350px;
        }
    }
}