@import '../variable';

.login-container {
    background: #fff;
    padding: 4em;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.login-container .login {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2575fc;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.login-container .back{
    background-color: white;
    border: 1px solid #1a5dd8;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.back #back{
    text-decoration: none;
    color: #333;
}
.login-container .login:hover {
    background: #1a5dd8;
}
.login-container .back:hover{
    background-color: #1a5dd8;
    color: white;
}
.login-container p {
    margin-top: 15px;
    font-size: 14px;
}

.login-container .register {
    color: #2575fc;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 4px;
}